:root {
    --primary: #FFD100;
    --secondary: #1A1A1A;
    --highlight: #71797E;
    --bg: #F5F5F5;
    --warning: #FF4500;

    --on-primary: #000000;
    --on-secondary: #FFFFFF;
    --on-warning: #000000;
    --on-destaque: #000000;
    --on-bg: #000000;
}
